/qlnguoidung/bin
/qlnguoidung/.vs
/qlnguoidung/obj
/qlnguoidung/.vscode
/qlnguoidung-app/bin
/qlnguoidung-app/.vs
/qlnguoidung-app/obj
/qlnguoidung-app/.vscode
/api_net8/bin
/api_net8/.vs
/api_net8/obj
/api_net8/.vscode